<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Clone Book</title>
    <link rel="stylesheet" href="static/css/fakebook.css">
</head>

<body>
    <div>
        <img src="static/images/Clone Book.jpg"><br>
        <a href='https://www.cineplexx.at/center/cineplexx-donau-plex/'> <img src="static/images/Werbebanner.jpg"></a>
    </div>
    <div>
        <h1>Clone# 230405</h1>
        <h2 id="h2">Has survived the war!</h2>
        <img src="static/images/Storm Trooper.jpeg">
    </div>
    <div>
        <h2>Info:</h2>
            <p>Wanna be my enemy? Cause i don´t wanna hurt you ;)</p>
        <h2>Hobbies:</h2>
            <ul>
                <li>searching for androids</li>
                <li>repairing Death Star</li>
                <li>getting spanked by Darth Vader</li>
            </ul>
    </div>
    <div>
        <h2>This clone is in group:</h2>
            <h3 id="p02">501st Legion - Vader's Fist</h3>
            <p>with:</p>
        <br>
            <img src="static/images/Storm Trooper-1.jpg"><a href="https://www.smartninja.at/"> Clone# 149786 </a><br>
            <img src="static/images/Storm Trooper-2.jpg"><a href="https://www.smartninja.at/"> Clone# 286861 </a><br>
            <img src="static/images/Storm Trooper-3.jpg"><a href="https://www.smartninja.at/"> Clone# 173659 </a><br>
            <img src="static/images/Vader.jpeg"><a href="https://www.smartninja.at/"> Darth Vader </a><br>
        <br>
            <form><input type="button" value="Group request"></form><br>
        <br>
    </div>
        <br>
    <footer>
        <p>on Clone Book since:</p>
        <p>05.03. 18 NSY</p>
    </footer>
</body>
</html>